include ../logo/logo
include ../menu/menu
include ../search/search



mixin header()
    header.header
        .header__top
            .container-fluid.px-5.my-3
                .row.align-items-center
                    .col-sm-6.order-sm-1.col-md-4.order-md-1.col-lg-3.order-lg-1
                        header.header__logo
                                +logo('assets/images/logo1.svg')
                                +logo('assets/images/logo_m.svg')
                    .col-sm-4.offset-sm-14.order-sm-2.col-md-1.offset-md-2.order-md-3.col-lg-1.offset-lg-2.order-lg-3
                        +menu()
                    
                    .col-sm-24.order-sm-3.col-md-17.order-md-2.col-lg-18.order-lg-2
                       +search()
                    
                    
                
