$grid-columns:      24 !default;
$grid-gutter-width: 20px !default;
$enable-grid-classes: true !default;

$grid-breakpoints: (
	xs: 0,
	sm: 320px,
	md: 720px,
	lg: 1000px,
	xl: 1280px
);

$container-max-widths: (
	
);